{% extends 'faculty/index.html' %}
{% block mainbody %}
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="/faculty">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#">Manage Topic</a></li>
                                <li class="breadcrumb-item active">Edit Topic</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Edit Topic</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <form class="" action="/faculty/updateTopic" method="post">
                                <!-- get topic id, name, description and update it -->
                                {% for row in topicVOList %}
                                    <input type="hidden" required name="topicId" value="{{ row['topicId'] }}">

                                    <div class="form-group">
                                        <label>Topic Name</label> <input type="text" name="topicName"
                                                                         class="form-control" required
                                                                         value="{{ row['topicName'] }}">
                                    </div>
                                    <div class="form-group">
                                        <label>Topic Description</label>
                                        <div>
                                            <textarea required class="form-control" name="topicDescription"
                                                      rows="5">{{ row['topicDescription'] }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light">Update
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-secondary waves-effect m-l-5">Cancel
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col -->

            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>
{% endblock %}



{% block tail_js %}
    <!-- Parsley js -->
    <script type="text/javascript"
            src="../../static/facultyResources/js/parsley.min.js"></script>
    <script type="text/javascript">$(document).ready(function () {
        $('form').parsley();
    });</script>
{% endblock %}