<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Student Assistance using Speech Interface</title>
    <meta content="Forgot password...." name="description"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="../../static/facultyResources/image/favicon.ico">

    <link href="../../static/facultyResources/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/facultyResources/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../../static/facultyResources/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../static/facultyResources/css/alertify.css" rel="stylesheet" type="text/css">

</head>


<body class="fixed-left">

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center mt-0 m-b-15">
                <a href="/" class="logo logo-admin">Forgot Password</a>
            </h3>

            <div class="p-3">
                <form class="form-horizontal" action="/faculty/forgotPassword" method="post">

                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Enter your <b>Email</b> and instructions will be sent to you!
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" name="forgotEmail" type="email" required placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-danger btn-block waves-effect waves-light" type="submit">Send OTP
                            </button>
                        </div>
                    </div>

                </form>
                <div class="col-12 m-t-20 text-center">
                    <a href="/" class="text-muted"><i
                            class="mdi mdi-lock"></i>
                        <small>Login</small>
                    </a>
                </div>

                <div class="col-12 text-center">
                    <p class="success">{{ msg }}</p>
                    <p class="error">{{ error }}</p>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- jQuery  -->
<script src="../../static/facultyResources/js/jquery.min.js"></script>
<script src="../../static/facultyResources/js/popper.min.js"></script>
<script src="../../static/facultyResources/js/bootstrap.min.js"></script>
<script src="../../static/facultyResources/js/modernizr.min.js"></script>
<script src="../../static/facultyResources/js/detect.js"></script>
<script src="../../static/facultyResources/js/fastclick.js"></script>
<script src="../../static/facultyResources/js/jquery.slimscroll.js"></script>
<script src="../../static/facultyResources/js/jquery.blockUI.js"></script>
<script src="../../static/facultyResources/js/waves.js"></script>
<script src="../../static/facultyResources/js/jquery.nicescroll.js"></script>
<script src="../../static/facultyResources/js/jquery.scrollTo.min.js"></script>
<!-- alerttify js -->
<script src="../../static/facultyResources/js/alertify.js"></script>
<script src="../../static/facultyResources/js/ngAlertify.js"></script>

<!-- App js -->
<script src="../../static/facultyResources/js/app.js"></script>
<script>
</script>

</body>
</html>