<div class="left side-menu">
    <button type="button"
            class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="/faculty/loadDashboard" class="logo"><i class="mdi mdi-assistant"></i>
                FACULTY</a>
            <!-- <a href="index	" class="logo"><img src="facultyResources/image/logo.png" height="24" alt="logo"></a> -->
        </div>
    </div>
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <hr>
                <li class="menu-title">Main</li>
                <!--menu: Dashboard-->
                <li><a href="/faculty/loadDashboard" class="waves-effect"><i
                        class="mdi mdi-airplay"></i> <span>Faculty Dashboard</span></a></li>

                <!-- menu: Manage Topics-->
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="ion-clipboard"></i>
                    <span>Manage Topic </span><span class="float-right"><i
                            class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/loadTopic">Add Topic</a></li>
                        <li><a href="/faculty/viewTopic">View Topic</a></li>
                    </ul>
                </li>

                <!-- menu: Manage Question-->
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="mdi mdi-account-multiple"></i> <span>Manage Question </span><span
                        class="float-right"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/loadQuestion">Add Question</a></li>
                        <li><a href="/faculty/viewQuestion">View Question</a></li>
                    </ul>
                </li>


                <hr>
                <li class="menu-title">Students</li>
                <!-- menu: Manage Student-->
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="mdi mdi-tie"></i>
                    <span>Manage Student </span><span class="float-right"><i
                            class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/loadStudent">Add Student</a></li>
                        <li><a href="/faculty/viewStudent">View Student</a></li>
                    </ul>
                </li>

                <hr>
                <li class="menu-title">Test</li>
                <!-- menu: Manage Student-->
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="mdi mdi-account-box"></i>
                    <span>Manage Test </span><span class="float-right"><i
                            class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/viewTest">View Tests</a></li>
                    </ul>
                </li>
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="mdi mdi-account-box-outline"></i>
                    <span>Manage Result </span><span class="float-right"><i
                            class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/loadPendigResult">Genrate Result</a></li>
                        <li><a href="/faculty/viewResult">View Result</a></li>
                    </ul>
                </li>


                <hr>

                <li class="menu-title">Others</li>
                <!-- menu: Complain-->
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="mdi mdi-tooltip"></i> <span>Manage Complain</span><span
                        class="float-right"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/loadComplain">Post Complain</a></li>
                        <li><a href="/faculty/viewComplain">View Complain</a></li>


                    </ul>
                </li>

                <!-- menu: Feedbacks-->
                <li class="has_sub"><a href="javascript:void(0);"
                                       class="waves-effect"><i class="mdi mdi-vector-difference"></i> <span>Manage Feedback</span><span
                        class="float-right"><i
                        class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/faculty/loadFeedback">Post Feedback</a></li>
                        <li><a href="/faculty/viewFeedback">View Feedback</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- end sidebarinner -->
</div>
