{% extends 'faculty/index.html' %}
{% block mainbody %}

    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="/faculty/loadDashboard">Faculty Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#">Manage Complain</a></li>
                                <li class="breadcrumb-item active">View Complain Reply</li>
                            </ol>
                        </div>
                        <h4 class="page-title">View Complain Reply</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card m-b-30 ">
                        <div class="card-body table-responsive">
                            <table id="datatable" class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="width: 25%"> Reply Subject</th>
                                    <th style="width: 45%"> Reply Message</th>
                                    <th style="width: 10%"> Reply File Attachment</th>
                                    <th style="width: 10%"> Reply Date</th>
                                    <th style="width: 10%"> Reply Time</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for row in complainReplyVOList %}
                                    <tr>
                                        <td>{{ row['replySubject'] }}</td>
                                        <td>{{ row['replyMessage'] }}</td>
                                        <td><a class="btn btn-dribbble"
                                               href="{{ row['replyFilePath'] }}{{ row['replyFileName'] }}"
                                               target="_blank">View</a></td>
                                        <td>{{ row['replyDate'] }}</td>
                                        <td>{{ row['replyTime'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div>
        <!-- container -->
    </div>
    <!-- Page content Wrapper -->

{% endblock %}

{% block tail_js %}
    <!-- Required datatable js -->
    <script src="../../static/facultyResources/js/jquery.dataTables.min.js"></script>
    <script src="../../static/facultyResources/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="../../static/facultyResources/js/dataTables.buttons.min.js"></script>
    <script src="../../static/facultyResources/js/buttons.bootstrap4.min.js"></script>
    <script src="../../static/facultyResources/js/jszip.min.js"></script>
    <script src="../../static/facultyResources/js/pdfmake.min.js"></script>
    <script src="../../static/facultyResources/js/vfs_fonts.js"></script>
    <script src="../../static/facultyResources/js/buttons.html5.min.js"></script>
    <script src="../../static/facultyResources/js/buttons.print.min.js"></script>
    <script src="../../static/facultyResources/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../../static/facultyResources/js/dataTables.responsive.min.js"></script>
    <script src="../../static/facultyResources/js/responsive.bootstrap4.min.js"></script>
    <!-- Datatable init js -->
    <script src="../../static/facultyResources/js/datatables.init.js"></script>
    <script type="text/javascript">$(document).ready(function () {
        $('#datatable').DataTable();
    });</script>
{% endblock %}

