{% extends 'student/index.html' %}
{% block mainbody %}

    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="/student/loadDashboard">Faculty Dashboard</a></li>
                                <li class="breadcrumb-item active">View Result</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Results List</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card m-b-30 ">
                        <div class="card-body table-responsive">
                            <table id="datatable" class="table table-bordered ">
                                <thead>
                                <tr>
                                    <th style="width: 6%"> Sr No.</th>
                                    <th style="width: 12%"> Student Name</th>
                                    <th style="width: 18%"> Student Username</th>
                                    <th style="width: 15%"> Topic</th>
                                    <th style="width: 10%"> Test Date</th>
                                    <th style="width: 10%"> Test Time</th>
                                    <th style="width: 10%"> Result Date</th>
                                    <th style="width: 10%"> Result Time</th>
                                    <th style="width: 9%"> Test Result</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in resultList %}
                                    <tr>
                                        <th>{{ resultList.index(row) + 1 }}</th>
                                        <td>{{ row[2]['studentFirstName'] }} {{ row[2]['studentLastName'] }}</td>
                                        <td>{{ row[2]['studentEmail'] }}</td>
                                        <td>{{ row[1]['test_Date'] }}</td>
                                        <td>{{ row[1]['test_Time'] }}</td>
                                        <td>{{ row[3]['topicName'] }}</td>
                                        <td>{{ row[0]['resultDate'] }}</td>
                                        <td>{{ row[0]['resultTime'] }}</td>
                                        <td>
                                            {{ row[0]['resultScore'] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


        </div>
        <!-- container -->
    </div>
    <!-- Page content Wrapper -->

{% endblock %}

{% block tail_js %}
    <!-- Required datatable js -->
    <script src="../../static/studentResources/js/jquery.dataTables.min.js"></script>
    <script src="../../static/studentResources/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="../../static/studentResources/js/dataTables.buttons.min.js"></script>
    <script src="../../static/studentResources/js/buttons.bootstrap4.min.js"></script>
    <script src="../../static/studentResources/js/jszip.min.js"></script>
    <script src="../../static/studentResources/js/vfs_fonts.js"></script>
    <script src="../../static/studentResources/js/buttons.html5.min.js"></script>
    <script src="../../static/studentResources/js/buttons.print.min.js"></script>
    <script src="../../static/studentResources/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../../static/studentResources/js/dataTables.responsive.min.js"></script>
    <script src="../../static/studentResources/js/responsive.bootstrap4.min.js"></script>
    <!-- Datatable init js -->
    <script src="../../static/studentResources/js/datatables.init.js"></script>
{% endblock %}

